# No external libraries required for basic Tkinter GUI

# Include only if you're using them:

pytest       # for testing automation
flake8       # for linting Python code
pyinstaller  # to convert Python script into .exe for Windows
streamlit
